.spyproject/
*.qgz
infiles/
figs/
outfiles/
*.png
*.pdf
#*.gpkg
#*.pkl
*.mat
*.tif
bed_for_slater
#*.nc
sam/stac_nc/
*.xml
dev/
*.pth
notebooks/stac_items/*
!notebooks/stac_items/.gitignore
figure_pys/old_figs/

data/*
!data/.gitignore

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
.virtual_documents/

# Python temp files
__pycache__/
*.pyc
